
body
{
    background-image: url(Images/fond.png);
}
@font-face {
    font-family: 'ma_police';
    src:
         url('Font/ma_police.otf');
}
h1
{
    color: blueviolet;
    text-align: center;
    font-family: 'ma_police';
   
}
#ma_photo
{
    box-shadow: 2px 2px 2px 2px white;
    border: 2px solid black;
}
h2 
{
    color: white;
     font-family: 'ma_police';
}
